@font-face {
  font-family: "Lato Bold";
  src: url('./assets/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Lato Black";
  src: url('./assets/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Lato Regular";
  src: url('./assets/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lato Light";
  src: url('./assets/fonts/Lato-Light.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
  border-bottom: solid #323746 6px;
}

.logo {
  color: #ffffff;
  width: 150px;
  font-family: "Lato Bold";
  font-size: 13px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 1px;
  letter-spacing: -1.5px;
}

.logo .star {
  color: #f06c64;
}

.navigation_bar ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  font-family: "Lato Bold";
  font-size: 12px;
  padding-right: 39px;
  padding-top: 7px;
}

.navigation_bar {
  padding-left: 13px;
}

.navigation_bar li:not(:last-child)::after {
  content: '•';
  font-size: 5px;
  text-align: center;
  color: #494e62;
  position: relative;
  padding: 0 13px 0 13px;
}

.navigation_bar li a {
  transition: all 0.3s ease 0s;
  color: #ffffff;
  text-decoration: none;
  
}

.navigation_bar li a:hover {
  color: #f06c64;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 594px;
  background-color: #f06c64;
  border-bottom: solid #ea676b 6px;
  position: relative;
}

.vert_phone {
  position: absolute;
  width: 240px;
  height: 483px;
  left: 111px;
  top: 53px;
}

.hor_phone {
  position: absolute;
  width: 484px;
  height: 240px;
  right: 112px;
  top: 174px;
}

.vert_screen {
  position: absolute;
  top: 65px;
  left: 14px;
  height: 333px;
  width: 188px;
  background-image: url(./assets/img/yellow_bg.png);
  background-position: 3.5% 54.5%;
}

.hor_screen {
  position: absolute;
  top: 14px;
  left: 60px;
  height: 188px;
  width: 333px;
  background-image: url(./assets/img/blue_bg.png);
  background-position: 50.5% 30.5%;
}

.left_arrow {
  position: absolute;
  height: 27px;
  width: 16px;
  top: 281px;
  left: 40px;
}

.right_arrow {
  position: absolute;
  height: 27px;
  width: 16px;
  top: 281px;
  right: 42px;
}

.left_arrow:hover,
.right_arrow:hover {
  cursor: pointer;
}

.services {
  width: 100%;
  height: 493px;
  background: #f2f2f2;
  border-bottom: solid #ffffff 6px;
}

.services_header {
  padding: 58px 40px 0 38px;
}

.services_header h2 {
  font-family: "Lato Black";
  font-size: 30px;
  color: #666d89;
  letter-spacing: -1;
  padding-bottom: 20px;
}

.services_header p {
  font-family: "Lato Light";
  line-height: 1.6;
  font-size: 18px;
  color: #666d89;
  text-align: justify;
}

.services_list {
  padding: 42px 45px 0 38px;
  display: flex;
  flex-direction: row;
}
.services_list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.services_item_icon {
  padding-top: 5px;
}
.services_list li {
  display: flex;
  flex-direction: row;
  width: calc(33.33% - 10px);
  max-width: 310px;
  text-align: justify;
  margin-right: -6px;
  
}
.services_item_text {
  padding: 0 0 24px 21px;
}

.services_item_text h3 {
  font-family: "Lato Black";
  line-height: 1.6;
  font-size: 18px;
  color: #666d89;
}

.services_item_text p {
  font-family: "Lato Regular";
  padding-top: 5px;
  line-height: 1.9;
  font-size: 12px;
  color: #666d89;
  font-size: 12px;
  text-align: justify;
  letter-spacing: 0.1px;
}

.bubble p {
  word-spacing: -1px;
}


.portfolio {
  min-height: 797px;
  background-color: #2d303a;
  border-bottom: solid #323746 6px;
  padding-top: 66px;
}

.portfolio ul:first-child {
  padding-left: 0px;
}

.portfolio__title h1 {
  font-family: "Lato Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 17px;
  color: #666d89;
  margin: 3px 0 0 40px;
  letter-spacing: -0.3px;
}

.portfolio__text p {
  font-family: "Lato Light";
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  margin: 27px 0 0 40px;
  
}

.portfolio__buttons {
  padding-left: 42px;
  padding-top: 10px;
  display: flex;
  
}

.portfolio__buttons button{
  display: flex;
  flex-direction: row;
  background-color: #2d303a;
  font-family: "Lato Regular";
  font-size: 12px;
  color: #666d89;
  border: solid #666d89 1px;
  border-radius: 5px;
  width: auto;
  height: 23px;
  cursor: pointer;
  margin-right: 9px;
  padding: 0 6px;
}

.portfolio__buttons button:hover {
  color: #dedede;
  border: solid #dedede 1px;
  transition: 0.3s;
}

.portfolio__pics ul {
  display: grid;
  grid-template-columns: calc(25% - 5px) calc(25% - 5px) calc(25% - 5px) calc(25% - 5px);
  grid-template-rows: 33.33% 33.33% 33.33% ;
  list-style: none;
  margin-top: 9px;
  margin-left: 40px;
  overflow: hidden;
}

.portfolio__pics li {
  width: 220px;
  height: 187px;
  padding: 10px 10px 10px 0px;
  
}

.about__us {
  height: 662px;
  background-color: #f2f2f2;
  border-bottom: solid #ffffff 6px;
  padding-top: 66px;
}

.about__us__title h1 {
  font-family: "Lato Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 17px;
  color: #666d89;
  margin: 3px 0 0 40px;
  
}

.about__us__text {
  font-family: "Lato Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  margin: 27px 40px 0 40px;
  text-align: justify;
}

.people {
  display: flex;
  justify-content: space-between;
  padding: 18px 41px 0 39px;
}

.people img {
  max-width: 300px;
  margin-top: 27px;
}
.people li {
  list-style: none;
  max-width: 300px;
}
.people h2 {
  font-family: "Lato Black";
  font-size: 18px;
  color: #666d89;
  margin-top: 12px;
  margin-bottom: 0;
  overflow: hidden;
  letter-spacing: -0.1px;
}

.people p {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #767e9e;
  text-align: justify;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: -0.1px;
}

.people p:first-child {
  word-spacing: -0.5px;
}
.social {
  display: flex;
  list-style: none;
  margin:0px 0 0 0;
  justify-content: flex-start;
  
}

ul.social {
  padding: 0 0 0 0;
}

.social img {
  margin: 25px 10px 0 0;
}
.social img:last-child {
  margin-right: 8px;
}

.quote {
  max-height: 528px;
  height: 100%;
  background-color: #f06c64;
  padding: 60px 40px;
  border-bottom: solid #ea676b 6px;
}

.quote-header h2 {
  font-family: "Lato Black";
  color: #f0d8d9;
  font-size: 30px;
  padding-bottom: 20px;
}

.quote-header p {
  font-family: "Lato Regular";
  text-align: justify;
  word-spacing: -1.5px;
  line-height: 1.5;
  color: #f0d8d9;
  font-size: 18px;
} 

.quote-body {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 45px;
}

.quote-forms {
  width: 100%;
}

.quote-forms input,
.quote-forms textarea {
  display: flex;
  flex-direction: row;
  height: 38px;
  width: 606px;
  border-radius: 5px;
  margin-bottom: 16px;
  background-color: #d6564f;
  color: #f0d8d9;
  font-family: "Lato Regular";
  border: none;
  padding-left: 14px;
}

input.submit-but {
  background-color: #d6564f;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
}

input.submit-but:hover {
  cursor: pointer;
  background-color: #f0d8d9;
  color: #d6564f;
  transition: 0.5s;
}

.quote-forms textarea {
  resize: none;
  height: 192px;
  padding: 10px 0 0 14px;
}
.quote-forms textarea::placeholder, 
.quote-forms input::placeholder {
  font-family: "Lato Regular";
  font-size: 12px;
  color: #f48c8f;
  
}
.contact-information {
  width: 495px;
  padding-left: 20px;
}

.contact-information h3 {
  color: #f0d8d9;
  font-family: "Lato Black";
  font-size: 18px;
  font-weight: 500;
  word-spacing: -1px;
}

.contact-information p {
  font-family: "Lato Regular";
  text-align: justify;
  color: #f0d8d9;
  font-size: 12px;
  padding-top: 8px;
  line-height: 1.85;
  word-spacing: -1px;
  text-align: justify;
  font-weight: 300;
}
.contact-information__list li{
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  text-align: justify;

}

.contact-information ul {
  list-style: none;
  padding-top: 20px;
}

.contact-information li a {
  color: #f0d8d9;
  font-family: "Lato Regular";
  font-size: 12px;
  text-decoration: none;
}

.contact_icon:first-child {
  padding: 2px 0 0 2px;
}


.geo {
  padding-left : 14px;
}

.phone {
  padding-left : 11px;
}

.mail {
  padding-left : 8px;
}

footer {
  width: 100%;
  height: 75px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
}

.copyright {
  padding-top: 30px;
  padding-left: 42px;
  color: #666d89;
  font-family: "Lato Regular";
  font-size: 12px;
  letter-spacing: -0.15px;
}

.contact-links ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-top: 22px;
  padding-right: 40px;
}
.contact-links li{
  padding-left: 8px;
  
}